.pro-sidebar > .pro-sidebar-inner {
  background: #383838 !important;
  /* height: 100% !important; */
  font-size: 1rem;
  font-weight: 600;
  color: rgb(255, 255, 255);
  height: 100vh;

}

.pro-sidebar .pro-menu .pro-menu-item {
  font-size: 14px !important;
 
}

@media only screen and (min-width: 300px) and (max-width: 1000px) {
  .sidebar_in_mobile_view {
    display: none !important;
  }
}
